h1 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-family: verdana;

}

html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
    background-color: #000000;

}

body {
    background-color: #ffffff;
    font-family: courier;
}

head {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}


.button1 {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.button1:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.button2 {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
}

.button2:hover {
    background-color: rgb(192, 69, 52); /* Red */
    color: white;
}
