h2 {
    margin: 0;
    padding: 20px 0;    
    color: #00539F;
    text-shadow: 3px 3px 1px black;
    font-family: verdana;

}

html {
    font-size: 10px; 
    font-family: "Open Sans", sans-serif;
    background-color: #000000;

}

body {
    background-color: #ffffff;
    font-family: courier;
}

head {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}


.button1 {
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    position: absolute;
    left: 100px;
    top: 150px;
}