
#container .img{ 
  position: absolute;
  z-index:1;
  margin-top: 35px;
  width: 300px;
}

#container{
    background: transparent; 
    position:relative; 
}


#container{
    background: transparent; 
    position:relative; 
}

#imageView{
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    position:relative;
    z-index:20;
    background-repeat: no-repeat; 
    background-size: 50%;
    background-image: url('lines.svg');  background-repeat: no-repeat;
    background-position: center;
}


#create-btn {
  background-color: rgb(111, 138, 255); 
  color: rgb(0, 52, 82); 
  border: 2px solid rgb(0, 29, 124);
  border-radius: 6px;
  position: left;    
  width: 200px;
  height: 50px;    
}

#create-btn:hover {
  background-color: solid rgb(0, 29, 124);
  transition-duration: 0.3s;
  color: white;
}  




#submit {
  background-color: rgb(161, 236, 164); 
  color: rgb(1, 80, 3); 
  border: 2px solid #4CAF50;
  border-radius: 6px;
  width: 100px;
  height: 50px;
}

#submit:hover {
  background-color: #4CAF50;
  transition-duration: 0.3s;
  color: white;
}

#clear {
  background-color: rgb(255, 164, 164); 
  color: rgb(136, 0, 0); 
  border: 2px solid rgb(255, 42, 42);
  border-radius: 6px;
  position: left;    
  width: 100px;
  height: 50px;    
}

#clear:hover {
  background-color: solid rgb(255, 42, 42);
  transition-duration: 0.3s;
  color: white;
}  


